APP_ID=YOUR_DISCORD_BOT_APPLICATION_ID
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
PUBLIC_KEY=YOUR_DISCORD_BOT_PUBLIC_KEY
SERVER_ID=YOUR_SERVER_ID
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
OPENAI_BASE_URL=YOUR_OPENAI_BASE_URL