APP_ID=YOUR_DISCORD_BOT_APPLICATION_ID
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
PUBLIC_KEY=YOUR_DISCORD_BOT_PUBLIC_KEY
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
OPENAI_BASE_URL=YOUR_OPENAI_BASE_URL
GOOGLE_SERVICE_ACCOUNT_EMAIL=YOUR_GOOGLE_SERVICE_ACCOUNT_EMAIL
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
SPREADSHEET_ID_YT=YOUR_YOUTUBE_PREMIUM_SPREADSHEET_ID
YT_SHEET_TITLE=2026 dev
YT_REMINDER_CHANNEL_ID=YOUR_DISCORD_CHANNEL_ID
YT_REMINDER_TIMEZONE=Asia/Ho_Chi_Minh
